<%- include("layout/header")   %>
   <main>
<form action="/" method="post">
    <input type="text" placeholder="Programming Languages" name="language"/>

    <button type="submit">Add </button>
</form>

<div>
    <ul>
        <% if(languages.length > 0){ %>
           <%  languages.map((lang)=> { %>
            <li><%= lang %></li>
       <% }) %>  
        <% } else{ %>
            <p>No Data Found</p>
       <%  } %>
    </ul>
  
</div>
   </main>
   <%- include("layout/footer")   %>
